<!DOCTYPE html>
<html lang="en">
<head>
    <title>Excessive force in George Floyd protests</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>
    <link rel="stylesheet" type="text/css" href="./words.css">
</head>
<body>
    <h2>Police brutality caught on camera durning George Floyd portests</h2>
    <div class="container">
        <div class="words" ></div>
    </div>
    
    <script src="./words.js"></script>
    
</body>
</html>