<!DOCTYPE html>
<html lang="en">
<head>
    <title>Excessive force in George Floyd protests</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./words.css">
</head>
<body>
    <div class="container-fluid">
        <div class="container">
            <h2 class="text-center text-light-50">Police in these cities used excessive force against protesters during the George Floyd Protests</h2>
        </div>
        <div class="container">
            <div class="words" ></div>
        </div>
    </div>
    
    
    <script src="./words.js"></script>
    
</body>
</html>